<mat-sidenav-container class="sidenav-container">
	<mat-sidenav #drawer mode="side" opened class="sidenav">
		<mat-toolbar class="sidenav-toolbar">Menu</mat-toolbar>
		<mat-nav-list class="sidenav-links">
			<a mat-list-item routerLink="/">Dashboard</a>
			<a mat-list-item routerLink="/weather">Weather Forecasts</a>
			<a mat-list-item routerLink="/signals">Signals</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
			<button class="mat-sidenav" mat-icon-button (click)="drawer.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
			<span>Purchase Buddy</span>
			<span class="spacer"></span>
			<div class="relative basis-5" style="margin-right: 20px;">
				<div *ngIf="(isUserLoggedIn$ | async)" class="grid__cell 1/4">
					<button mat-button (click)="logout()"><span>Logout</span></button>
				</div>
				<div *ngIf="!(isUserLoggedIn$ | async)" class="grid__cell 1/5">
					<a mat-button routerLink="/login" routerLinkActive="active">Login</a>
				</div>
			</div>
		</mat-toolbar>
		<div class="main-container w-4/5 m-5 ">
			<router-outlet></router-outlet>

		</div>
	</mat-sidenav-content>
</mat-sidenav-container>